body {
  margin: 0;
  background: #504a4a;
  font-size: 16px;
}
.clients-list{
  background: #1a1d1a;
  padding-top: 20px;
}
.search{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  outline:none;
  padding: 3px 10px 0 10px;
}
